<html>
<body>



<mat-toolbar >
<mat-toolbar-row>

  <button mat-raised-button routerLinkActive="active" routerLink="/list" class="actbtn" >Listázás</button>

  <button mat-raised-button routerLinkActive="active" (click)=logout() class="actbtnn" >Kijelentkezés</button>

</mat-toolbar-row>
</mat-toolbar>
  <p></p>


  <p></p>
<mat-card class="example-card">
  <mat-panel-title class="mat-title"> Traktor hozzáadás </mat-panel-title>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form" >
      <mat-form-field >
        <input matInput type="text" placeholder="Traktor tipusa" formControlName="tractorName">
      </mat-form-field>
      <br>

      <mat-form-field >
        <input matInput  placeholder="Traktor évjárata" type="number"  formControlName="tractorYear">
      </mat-form-field>
      <br>

      <mat-form-field >
        <input matInput  placeholder="Traktor önsúlya" type="number"  formControlName="tractorWeight">
      </mat-form-field>
      <br>

      <button mat-raised-button type="submit"  class="btn" >Hozzáadás</button>

    </form>

  </mat-card>

</body>
</html>
